#!/usr/sbin/nft -f

# each domain is a table
table inet {{ table }} {
{# ----------------------------------------------------------------------- #}
{% if applications|length > 0 %}
    # cloudcix supported applications(a rule with one or more conditions)
{% for application in applications %}
{% if application == 'icmp_accept' %}
    # icmp v4 allow
    chain icmp_accept {
        icmp type { echo-reply, destination-unreachable, echo-request, time-exceeded } accept
    }
{% elif application == 'icmp_drop' %}
    # icmp v4 block
    chain icmp_drop {
        icmp type { echo-reply, destination-unreachable, echo-request, time-exceeded } drop
    }
{% elif application == 'icmp6_accept' %}
    # icmp v6 allow
    chain icmp6_accept {
        icmpv6 type { echo-reply, echo-request, mld-listener-query, nd-router-solicit, nd-router-advert, nd-neighbor-solicit, nd-neighbor-advert } accept
    }
{% elif application == 'icmp6_drop' %}
    # icmp v6 block
    chain icmp6_drop {
        icmpv6 type { echo-reply, echo-request, mld-listener-query, nd-router-solicit, nd-router-advert, nd-neighbor-solicit, nd-neighbor-advert } drop
    }
{% elif application == 'dns_accept' %}
    # dns allow
    chain dns_accept {
        meta l4proto {tcp, udp} th dport 53 accept
    }
{% elif application == 'dns_drop' %}
    # dns block
    chain dns_drop {
        meta l4proto {tcp, udp} th dport 53 drop
    }
{% elif application == 'vpn_accept' %}
    # vpn allow
    chain vpn_accept {
        # IKE 500, 4500 ports and udp protocol
        udp dport { 500, 4500 } accept
        ip protocol esp accept
    }
{% elif application == 'vpn_drop' %}
    # vpn block
    chain vpn_drop {
        # IKE 500, 4500 ports and udp protocol
        meta l4proto udp th dport { 500, 4500 } drop
        # Allow IPSec esp protocol
        ip protocol esp drop
    }
{% elif application == 'dhcp_accept' %}
    # dhcp allow
    chain dhcp_accept {
        meta l4proto {tcp, udp} th dport 67 accept
    }
{% elif application == 'dhcp_drop' %}
    # dhcp block
    chain dhcp_drop {
        meta l4proto {tcp, udp} th dport 67 drop
    }
{% endif %}
{% endfor %}
{% endif %}
{# ----------------------------------------------------------------------- #}
{% if sets|length > 0 %}
    # Sets definitions
{% for obj in sets %}
    set {{ obj['name'] }} {
        type {{ obj['type'] }}
        flags interval
        elements = {
            {{ ', '.join(obj['elements']) }}
        }
    }
{% endfor %}
{% endif %}
{# ---------------------NAT Pre Routing---------------------------------- #}
{% if nat_prerouting['nat_lines']|length > 0 %}
    # Inbound NAT (DNAT), Only IPv4 at Pre Routing stage,
    # for nat type chains default policy is accept
    chain nat_prerouting {
        type nat hook prerouting priority {{ nat_prerouting['priority'] }}; policy accept;
        # Inbound destination NAT 1:1
{% for line in nat_prerouting['nat_lines'] %}
        {{ line }}
{% endfor %}
    }
{% endif %}
{# ---------------------NAT Post Routing--------------------------------- #}
{% if nat_postrouting['nat_lines']|length > 0 %}
    # Outbound NAT(SNAT), Only IPv4 at Post-Routing stage,
    # for nat type chains default policy is accept
    chain nat_postrouting {
        type nat hook postrouting priority {{ nat_postrouting['priority'] }}; policy accept;
        # Source NAT 1:N
{% for line in nat_postrouting['nat_lines'] %}
        {{ line }}
{% endfor %}
    }
{% endif %}
{# ----------------------Filter Pre Routing------------------------------ #}
{% if prerouting['rule_lines']|length > 0 %}
    chain filter_prerouting {
        type filter hook prerouting priority {{ prerouting['priority'] }}; policy {{ prerouting['policy'] }};
{% for line in prerouting['rule_lines'] %}
        {{ line }}
{% endfor %}
    }
{% endif %}
{# ----------------------Filter Input----------------------------------- #}
{% if input['rule_lines']|length > 0 %}
    # Traffic TO Namespace IPv4 and IPv6
    chain filter_input {
        type filter hook input priority {{ input['priority'] }}; policy {{ input['policy'] }};
{% for line in input['rule_lines'] %}
        {{ line }}
{% endfor %}
    }
{% endif %}
{# ----------------------Filter Forward--------------------------------- #}
{% if forward['rule_lines']|length > 0 %}
    # Traffic TO and FROM VMs in Namespace Networks, IPv4 and IPv6
    chain filter_forward {
        type filter hook forward priority {{ forward['priority'] }}; policy {{ forward['policy'] }};
{% for line in forward['rule_lines'] %}
        {{ line }}
{% endfor %}

    }
{% endif %}
{# ----------------------Filter Output--------------------------------- #}
{% if output['rule_lines']|length > 0 %}
    # Traffic FROM Namespace IPv4 and IPv6
    chain filter_output {
        type filter hook output priority {{ output['priority'] }}; policy {{ output['policy'] }};
{% for line in output['rule_lines'] %}
        {{ line }}
{% endfor %}
    }
{% endif %}

{# ----------------------Filter Post Routing--------------------------- #}
{% if postrouting['rule_lines']|length > 0 %}
    chain filter_postrouting {
        type filter hook postrouting priority {{ postrouting['priority'] }}; policy {{ postrouting['policy'] }};
{% for line in postrouting['rule_lines'] %}
        {{ line }}
{% endfor %}
    }
{% endif %}
}
