network:
  version: 2
  renderer: networkd
  ethernets:
    {{ system_name }}:
      dhcp4: false
      dhcp6: false
      accept-ra: no
      set-name: {{ standard_name }}
{% if mac is not none %}
      match:
        macaddress: {{ mac }}
{% endif %}
{% if ips is not none and ips|length > 0 %}
      addresses:
{% for ip in ips %}
        - {{ ip }}
{% endfor %}
{% endif %}
{% if routes is not none and routes|length > 0 %}
      routes:
{% for route in routes %}
        - to: {{ route['to'] }}
          via: {{ route['via'] }}
{% endfor %}
{% endif %}

{% if vlans is not none and vlans|length > 0 %}
  vlans:
{% for vlan in vlans %}
    {{ standard_name }}.{{ vlan['vlan'] }}:
      dhcp4: false
      dhcp6: false
      accept-ra: no
      id: {{ vlan['vlan'] }}
      link: {{ system_name }}
{% if vlan['ips'] is not none and vlan['ips']|length > 0 %}
      addresses:
{% for vlan_ip in vlan['ips'] %}
        - {{ vlan_ip }}
{% endfor %}
{% endif %}
{% if vlan['routes'] is not none and vlan['routes']|length > 0 %}
      routes:
{% for vlan_route in vlan['routes'] %}
        - to: {{ vlan_route['to'] }}
          via: {{ vlan_route['via'] }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
