#!/bin/bash

# Create Bridge 
ip link add br{{ vlan }} type bridge
ip link set dev br{{ vlan }} up

# Create Vlan tagged interface from {{ ifname }} interface and connect to above bridge
ip link add link {{ ifname }} name {{ ifname }}.{{ vlan }} type vlan id {{ vlan }}
ip link set dev {{ ifname }}.{{ vlan }} master br{{ vlan }}
ip link set dev {{ ifname }}.{{ vlan }} up