{
{% set firewall_file = '/tmp/nftables.conf' %}
{# Create the temp nftables.conf file and validate it #}
echo "{% include 'firewall_podnet/configs/nftables.conf.j2' %}" > {{ firewall_file }}
if ! [ -f {{ firewall_file }} ]; then
    echo "{{ messages['300'] }}"
    exit 1
fi
{# Verify the configuration file syntax #}
if ! nft --check --file {{ firewall_file }} > /dev/null 2>&1; then
    echo "{{ messages['301'] }}"
    exit 1
fi
echo "{{ messages['100'] }}"
{# Apply the new firewall config #}
if ! nft --file {{ firewall_file }} > /dev/null 2>&1; then
    echo "{{ messages['302'] }}"
    exit 1
fi
{# Replace the /etc/nftables.conf with new file #}
if ! sudo mv {{ firewall_file }} /etc/nftables.conf > /dev/null 2>&1; then
    echo "{{ messages['303'] }}"
    exit 1
fi
echo "{{ messages['000'] }}"
}
