{
{# Define function to check the netplan file exists or not     #}
file_exists() {
    if [ -f "$1" ]; then
        return 0  # File exists
    else
        return 1  # File does not exist
    fi
}
{# Define function to backup the netplan file if exists        #}
backup_file() {
    if ! sudo cp "$1" "$1.bak"; then
        echo "{{ messages['300'] }}"
        exit 1
    fi
}
{# Define Revert function to undo changes                      #}
revert() {
    if file_exists "{{ netplan_filepath }}.bak"; then
        sudo mv {{ netplan_filepath }}.bak {{ netplan_filepath }}
    else
        sudo rm -f {{ netplan_filepath }}
    fi
}
{# Back netplan file if already exits                          #}
if file_exists "{{ netplan_filepath }}"; then
    backup_file "{{ netplan_filepath }}"
fi
{# Create a new netplan file                                   #}
if ! sudo echo "{% include 'net/configs/netplan.yaml.j2' %}" > {{ netplan_filepath }}; then
    echo "{{ messages['301'] }}"
    exit 1
fi
{# Verify changes for errors, if found then revert the changes #}
if ! sudo netplan generate > /dev/null 2>&1; then
    echo "{{ messages['302'] }}"
    revert
    exit 1
fi
{# Apply the changes as verified                               #}
if ! sudo netplan apply > /dev/null 2>&1; then
    echo "{{ messages['303'] }}"
    revert
    exit 1
fi
{# Remove backup file if created                               #}
if file_exists "{{ netplan_filepath }}.bak"; then
    sudo rm -f  "{{ netplan_filepath }}.bak"
fi
echo "{{ messages['000'] }}"
}
